
.valentine-containter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: bisque; */
}
.yes-button{
  cursor: pointer;
  border:none;
  border-radius: 3px;
  font-size: 16px;
  padding: 15px 32px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: rgb(26, 167, 87)
}

.no-button{
  cursor: pointer;
  border:none;
  border-radius: 3px;
  font-size: 16px;
  padding: 15px 32px;
  color:white;
  text-align: center;
  text-decoration: none;
  background-color: red;
}

.centered-image {
  
  position:sticky;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 20vw;
  height: auto;
}